<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.zucc.ygg.movie.dao.CollectionsMapper">
  <resultMap id="BaseResultMap" type="com.edu.zucc.ygg.movie.domain.Collections">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="commentary_id" jdbcType="INTEGER" property="commentaryId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>
</mapper>