<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.zucc.ygg.movie.dao.LongCommentaryMapper">
  <resultMap id="BaseResultMap" type="com.edu.zucc.ygg.movie.domain.LongCommentary">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="movie_id" jdbcType="INTEGER" property="movieId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="filter_content" jdbcType="VARCHAR" property="filterContent" />
    <result column="pure_text" jdbcType="VARCHAR" property="pureText" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="like" jdbcType="INTEGER" property="like" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
    <select id="getLongCommentaryList" resultType="com.edu.zucc.ygg.movie.domain.LongCommentary">
      select * from long_commentary
      order by create_time desc
    </select>
</mapper>