<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.zucc.ygg.movie.dao.MovieMapper">
  <resultMap id="BaseResultMap" type="com.edu.zucc.ygg.movie.domain.Movie">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="foreign_name" jdbcType="VARCHAR" property="foreignName" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="release_time" jdbcType="DATE" property="releaseTime" />
    <result column="sheet_length" jdbcType="INTEGER" property="sheetLength" />
    <result column="make_state" jdbcType="VARCHAR" property="makeState" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="director" jdbcType="VARCHAR" property="director" />
    <result column="screenwriter" jdbcType="VARCHAR" property="screenwriter" />
    <result column="actors" jdbcType="VARCHAR" property="actors" />
    <result column="language" jdbcType="VARCHAR" property="language" />
    <result column="introduction" jdbcType="VARCHAR" property="introduction" />
    <result column="score" jdbcType="DOUBLE" property="score" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <update id="updateReadNumber">
    <selectKey keyProperty="count" resultType="int" order="BEFORE">
      select count(0) from movie_read where movie_id = #{id}
    </selectKey>
    <if test="count > 0">
      update movie_read
      set count = #{count1}
      where movie_id = #{id}
    </if>
    <if test="count==0">
      insert into movie_read (movie_id,count) values( #{id},#{count1})
    </if>
  </update>

    <update id="updateScore">
      update movie set score = #{score} where id = #{id}
    </update>

    <select id="newestMovieList" resultMap="BaseResultMap">
    select * from movie
    order by create_time desc
  </select>

  <select id="movieSearch" resultMap="BaseResultMap" parameterType="com.edu.zucc.ygg.movie.dto.MovieDto">
    select * from movie
    where 1=1
    <if test="name != null and name != '' " >
      and name like CONCAT('%',#{name},'%') or foreign_name like CONCAT('%',#{name},'%')
    </if>
    <if test="makeState != null and makeState != ''" >
      and make_state like CONCAT('%',#{makeState},'%')
    </if>
    <if test="type != null and type != ''" >
      and type like CONCAT('%',#{type},'%')
    </if>
    <if test="language != null and language != ''" >
      and language like CONCAT('%',#{language},'%')
    </if>
    <if test="keyword != null and keyword != ''" >
      and id in (
      select id
      from movie
      where name like CONCAT('%',#{keyword},'%')
      or foreign_name like CONCAT('%',#{keyword},'%')
      or actors like CONCAT('%',#{keyword},'%')
      or director like CONCAT('%',#{keyword},'%')
      )
    </if>
    <if test="orderBy == 0">
      order by create_time Desc
    </if>
    <if test="orderBy == 1">
      order by score Desc
    </if>
  </select>

  <select id="getMovieInfo" resultMap="BaseResultMap">
    select * from movie
    where id = #{id}
  </select>

  <select id="hotMovieList" resultMap="BaseResultMap">
    select * from movie
    order by create_time desc
  </select>

    <select id="getMovieRead" resultType="java.util.Map">
      select movie_id,count
      from movie_read
    </select>

</mapper>